{% extends 'base.html' %}
{% block title %}Пост от {{ post.pub_date }}{% endblock %}
{% block header %}Пост от {{ post.pub_date }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">

            {% include 'include\user_item.html' %}

            <div class="col-md-9">

                {% if post %}
                    {% include 'include\post_item.html' %}
                {% endif %}

                {% include 'include\comments.html' with items=comments %}
            </div>
        </div>
    </main>
{% endblock %}