{% extends 'base.html' %}
{% block title %}Профиль {{ profile.username }}{% endblock %}
{% block header %}Профиль {{ profile.username }}{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="row">

            {% include 'include\user_item.html' %}

            <div class="col-md-9">

                {% for post in page %}
                    {% include 'include\post_item.html' %}
                {% endfor %}

            {% if page_obj.has_other_pages %}
                {% include "include\paginator.html" with items=page_obj paginator=paginator %}
            {% endif %}

            </div>
        </div>
    </main>
{% endblock %}